@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>


<address>
    Adair Lucas de Oliveira Duarte<br />
    Contagem - Minas Gerais<br />
    
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:adair.kairos@gmail.com">adair.kairos@gmail.com</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/adair-duarte-b6aa291ab/">www.linkedin.com</a>
</address>