@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema Básico de Emprestimo</h1>
    <p class="lead">Bem vindo ao sistema básico de empréstimo.</p>
    <p><a href="/Home/PaginaDadosCliente" class="btn btn-primary btn-lg">Solicitar Empréstimo &raquo;</a></p>
</div>


